<launch>
	<!-- Data parameters -->
	<arg name="data_file_base_path" default="$(find smarc_algal_bloom_tracking)/data"/>

	<!-- Tracker node -->
    <node name="algalbloom_tracker" pkg="smarc_algal_bloom_tracking" type="algalbloom_tracker.py" output="screen">
	<param name="data_file_base_path" value="$(arg data_file_base_path)"/>
	<param name="show_matplot_lib" value="True"/>
	<!-- control parameters -->
	<param name="initial_speed" value="1.0"/>
	<param name="following_gain" value="3.0"/>
	<param name="seeking_gain" value="1.0"/>
	<param name="zig_zag_angle" value="45.0"/>
	<param name="horizontal_distance" value="10.0"/>
	<param name="threshold" value="0.1"/>
	<param name="estimation_trigger_val" value="120"/>	
	<!-- plan parameters -->
	<param name="initial_heading" value="0.0"/>
	<param name="delta_ref" value="7.45"/>
	<!-- data parameters -->
	<param name="data_downs_scale_factor" value="100.0"/>
	<!-- GPS Offset Parameters -->
	<param name="offset_gps" value="True"/>
	<param name="starting_lat" value="61.42112"/>
	<param name="starting_lon" value="20.79051"/>
    </node>

</launch>